<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <servlet-name>BakeryController</servlet-name>
    <servlet-class>kz.epam.servlet.BakeryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BakeryController</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>ImageUploadController</servlet-name>
        <servlet-class>kz.epam.servlet.ImageUploadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUploadController</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/Bakery</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>FormEncodingSetterFilter</filter-name>
    <filter-class>kz.epam.filter.FormEncodingSetterFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>excludedUrls</param-name>
      <param-value>/upload</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FormEncodingSetterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>kz.epam.filter.LocaleFilter</filter-class>
    <init-param>
      <param-name>excludedUrls</param-name>
      <param-value>/upload</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
  </jsp-config>
</web-app>
